.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    top: 150px;
    float: left;
    margin-left: 250px;
}


.singleSlide {
    display: flex;
}

.prev,
.next {
    border-radius: 3px 0 0 3px;
    border: transparent solid 1px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* 垂直置中 */
    width: auto;
    padding: 16px;
    color: black;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}



.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white !important;
}



.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.singleSlide img {
    width: 450px;
    height: 450px;
    border-radius: 10px;


}

@keyframes fade {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}