* {
    box-sizing: border-box;
    margin: 0px auto;
}

body {
    background-color: white;
    margin: 0px;
}

header {
    background-color: #373535;
    padding: 20px;
    margin: 0;
    text-align: right;
}

header img {
    max-width: 100px;
    max-height: 50px;
    margin-right: 10px;
}

.ad {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.ad img {
    max-width: 100%;
    height: auto;
    margin: 0 30px;
}

nav {
    text-align: center;
    font-family: Arial;
    color: rgba(12, 10, 10, 0.267);
    background: rgba(255, 255, 255, 0.8) url(assets/image/brown.png);
}

nav a {
    padding: 14px 16px;
    display: inline-block;
    padding: 10px;
    border: 1px solid #000;
    margin: 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: #E7D1C9;
    color: white;
    font-family: 微軟正黑體;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #373535D3;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;

}


.card {
    padding: 50px;
    margin: 50px 10px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.9) url(assets/image/brown2.jpg);
    background-size: cover;
}


article {
    margin: 0 auto;
    width: 75%;
    font-family: 微軟正黑體;
    text-align: center;
    color: #a54040;
    font-size: 20px;
}

.programming {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(177, 181, 199, 0.5);
    border-radius: 20%;
    font-size: 20pt;
    color: #a54040;
}


.programming2 {
    font-size: 25pt;
}

aside {
    float: right;
    width: 25%;
    text-align: center;
}

.clearfix {
    clear: both;
}



@media screen and (max-width: 800px) {

    article,
    aside {
        float: none;
        width: 100%;
    }

    .card {
        padding: 10px;
        margin: 15px 0px;
    }

    img {
        max-width: 100%;
        height: 90%;
    }
}