* {
    box-sizing: border-box;
    margin: 0 auto;
}


body {
    background-color: #f0ebe6;
    margin: 0px;
}

header {
    background-color: #e1d5d2;
    padding: 20px;
    margin: 0;
    text-align: right;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;




}


header img {
    margin-right: 10px;


}


.icon {
    margin-left: 900px;
}


nav {
    text-align: center;
    max-width: 30%;
    margin-right: auto;


}

footer {
    background-color: #EEDDD3;
    color: #444444;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
    display: grid;
    width: 70%;
    /*
    grid-template-columns: 1fr 1fr 1fr;
    */
    grid-auto-flow: row;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-image: url(image/card_img.jpg);
    background-size: cover;
    text-align: center;

}


aside {

    grid-area: 3/1/4/4;

    /*
    grid-area: 4/1/5/3;
    */


}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.drop-down-menu {
    display: inline-block;
    font-size: 17px;
    margin-top: 20px;

}

ul.drop-down-menu li {
    position: relative;
    white-space: nowrap;

}



ul.drop-down-menu>li {
    float: left;

}

ul.drop-down-menu a {
    background-color: #e1d5d2;
    color: #333;
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;

}

ul.drop-down-menu a:hover {
    background-color: #ccafa7;
    color: #fff;
}

ul.drop-down-menu li:hover>a {
    background-color: #ccafa7;
    color: #fff;
}


ul.drop-down-menu ul {
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
    min-width: 180px;
    display: none;


}




ul.drop-down-menu li:hover>ul {
    display: block;
}

.search {
    border-radius: 5px;
    border-style: solid;
    border-color: #ccafa7;
    outline: #f0ebe6;
}